
@{
    ViewBag.Title = "Not Found";
}

<h1>@ViewBag.ErrorMessage</h1>
<h1>@ViewBag.Path</h1>
<h1>@ViewBag.QS</h1>

<h4>current Environment:  @ViewBag.Enviroment</h4>
<a asp-controller="Home" asp-action="Index">Home Page</a>