
@model Comment


    <div class="row justify-content-center m-3">
        <form asp-controller="Home" asp-action="PostComment" method="post">
            <div>
                <h4>New comment</h4>
            </div>
            <div>

                <textarea asp-for="@Model.Text" placeholder="Comment..." rows="10" cols="80">
                
             </textarea>
            </div>
            <div class="col-5">
                <button class="btn btn-primary" type="submit"> Create </button>
                <a class="btn btn-danger"> Cancel </a>
            </div>
        @*<div asp-validation-summary="All"></div>*@
        </form>
    </div>